## Read in Pluto data and produce clean CSV for DB creation

In [1]:
import pandas as pd

In [2]:
import_path = "pluto.csv"

In [3]:
data_df = pd.read_csv(import_path)

In [4]:
data_df.head()

   zipcode borough  borocode  landuse  bldgarea  lotarea
0  10019.0      MN       1.0      5.0   57805.0   26,817
1  10019.0      MN       1.0      7.0  105562.0  172,842
2  10023.0      MN       1.0      3.0  225552.0   15,002
3  10019.0      MN       1.0      6.0   36184.0    9,050
4  11219.0      BK       3.0      2.0    3600.0    2,000

In [5]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 859465 entries, 0 to 859464
Data columns (total 6 columns):
zipcode     838521 non-null float64
borough     859465 non-null object
borocode    859459 non-null float64
landuse     856535 non-null float64
bldgarea    858968 non-null float64
lotarea     857908 non-null object
dtypes: float64(4), object(2)
memory usage: 39.3+ MB

In [6]:
data_df.dropna(inplace=True)

In [7]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 835904 entries, 0 to 859464
Data columns (total 6 columns):
zipcode     835904 non-null float64
borough     835904 non-null object
borocode    835904 non-null float64
landuse     835904 non-null float64
bldgarea    835904 non-null float64
lotarea     835904 non-null object
dtypes: float64(4), object(2)
memory usage: 44.6+ MB

In [8]:
data_df.reset_index(inplace=True, drop=True)

In [9]:
data_df

        zipcode borough  borocode  landuse  bldgarea  lotarea
0       10019.0      MN       1.0      5.0   57805.0   26,817
1       10019.0      MN       1.0      7.0  105562.0  172,842
2       10023.0      MN       1.0      3.0  225552.0   15,002
3       10019.0      MN       1.0      6.0   36184.0    9,050
4       11219.0      BK       3.0      2.0    3600.0    2,000
5       10019.0      MN       1.0     11.0       0.0   10,057
6       10023.0      MN       1.0      2.0    8063.0    2,177
7       10023.0      MN       1.0      3.0  490265.0   34,532
8       10024.0      MN       1.0      3.0   26910.0    6,200
9       10024.0      MN       1.0      3.0  162676.0   14,493
10      10023.0      MN       1.0      8.0    7800.0   10,056
11      10023.0      MN       1.0      4.0    2718.0      821
12      10024.0      MN       1.0      2.0    6550.0    2,120
13      10024.0      MN       1.0      2.0    5705.0    2,008
14      11234.0      BK       3.0      1.0     924.0    1,800
15      10024.0      MN       1.0      2.0    5760.0    1,925
16      10024.0      MN       1.0      3.0   10934.0    3,117
17      10024.0      MN       1.0      4.0   22874.0    5,308
18      10024.0      MN       1.0      2.0    5675.0    2,022
19      10024.0      MN       1.0      2.0    8440.0    2,412
20      10024.0      MN       1.0      1.0    4720.0    1,666
21      10023.0      MN       1.0      4.0  219794.0   36,166
22      10023.0      MN       1.0      1.0    5542.0    2,000
23      10023.0      MN       1.0      8.0    6380.0    1,614
24      10023.0      MN       1.0      2.0    4548.0    2,225
25      10023.0      MN       1.0      3.0   21328.0    2,600
26      10023.0      MN       1.0      5.0   31332.0    5,800
27      11222.0      BK       3.0      2.0    5000.0    2,500
28      10024.0      MN       1.0      5.0    8820.0    2,210
29      10023.0      MN       1.0      5.0   99663.0   19,242
...         ...     ...       ...      ...       ...      ...
835874  10019.0      MN       1.0      3.0  100000.0   20,400
835875  10019.0      MN       1.0      5.0    3053.0    3,552
835876  10036.0      MN       1.0      3.0   65615.0   12,050
835877  10036.0      MN       1.0      2.0   11455.0    2,750
835878  10036.0      MN       1.0      4.0   17225.0    4,383
835879  10019.0      MN       1.0      2.0    8670.0    2,193
835880  10036.0      MN       1.0      3.0   60000.0   17,715
835881  10036.0      MN       1.0      3.0   29308.0    7,475
835882  10036.0      MN       1.0      8.0    8898.0    3,741
835883  10036.0      MN       1.0      2.0    6135.0    1,850
835884  10019.0      MN       1.0      5.0   45775.0    7,475
835885  10019.0      MN       1.0      3.0   21000.0    4,565
835886  10019.0      MN       1.0      8.0   75875.0   79,832
835887  10308.0      SI       5.0      1.0    1500.0    3,440
835888  10019.0      MN       1.0      5.0  263438.0   24,603
835889  10019.0      MN       1.0      3.0   31468.0    5,300
835890  10019.0      MN       1.0      4.0    4800.0    1,000
835891  10019.0      MN       1.0      3.0  104966.0   17,500
835892  11436.0      QN       4.0      1.0    1248.0    1,958
835893  10036.0      MN       1.0      5.0  122050.0   23,425
835894  10465.0      BX       2.0      1.0    2372.0    4,742
835895  10036.0      MN       1.0      8.0  203770.0   30,125
835896  10036.0      MN       1.0      4.0   19016.0    6,225
835897  10036.0      MN       1.0      2.0   15500.0    4,325
835898  11378.0      QN       4.0      6.0    6750.0    7,918
835899  10019.0      MN       1.0      4.0  195973.0   20,063
835900  10019.0      MN       1.0      5.0   45200.0    6,200
835901  10019.0      MN       1.0      7.0   11380.0    4,100
835902  10019.0      MN       1.0      5.0  490080.0  107,950
835903  10036.0      MN       1.0      6.0  211175.0   34,025

[835904 rows x 6 columns]

In [10]:
data_df.to_csv("data.csv")