In [292]:
import pandas as pd
import numpy as np
import json
from pprint import pprint
from sqlalchemy import create_engine
from sklearn import preprocessing
from sklearn.neighbors import NearestNeighbors

# Set pandas to display numbers with commas
pd.options.display.float_format = '{:,}'.format

# Prep Data and Create DB

### Import and Clean Data

In [293]:
# import and clean data

pluto_df = pd.read_csv("pluto.csv")
pluto_df.sort_values(by="zipcode", inplace=True)
pluto_df = pluto_df.reset_index(drop=True).copy()
pluto_df.dropna(inplace=True)
pluto_df.head()

   zipcode borough  borocode  landuse  bldgarea  lotarea
0 10,001.0      MN       1.0      5.0 611,625.0 23,601.0
1 10,001.0      MN       1.0      4.0  13,489.0  2,469.0
2 10,001.0      MN       1.0      5.0  34,000.0 17,773.0
3 10,001.0      MN       1.0     11.0       0.0      0.0
4 10,001.0      MN       1.0      5.0   2,008.0  1,980.0

In [294]:
#One hot encoding for landuse

dummy_df = pd.get_dummies(pluto_df.landuse)
pluto_df.drop("landuse", axis=1, inplace=True)
data_df = pluto_df.join(dummy_df)
data_df.head()

,zipcode,borough,borocode,bldgarea,lotarea,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0
0,"10,001.0",MN,1.0,"611,625.0","23,601.0",0,0,0,0,1,0,0,0,0,0,0
1,"10,001.0",MN,1.0,"13,489.0","2,469.0",0,0,0,1,0,0,0,0,0,0,0
2,"10,001.0",MN,1.0,"34,000.0","17,773.0",0,0,0,0,1,0,0,0,0,0,0
3,"10,001.0",MN,1.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,1
4,"10,001.0",MN,1.0,"2,008.0","1,980.0",0,0,0,0,1,0,0,0,0,0,0

In [295]:
# Create column with dummy values that can be counted during groupby
# These will be used later to cull mini zipcodes in Manhattan with only a couple of buildings
data_df["bldg_count"] = data_df["zipcode"]

In [296]:
'''
Map bldgarea and lotarea to individual landuses
This gets confusing, but landuses associated with buildings get bldgarea and open space uses like parks get lot area
Effectively, this means that building uses and open space uses are in different units
But we can normalize each column individually for KNN

But before we even get that far, we need to groupby and sum for each zipcode, and then normalize those by total lot area
This ensures that large zipcodes don't appear more dense than small zipcodes
THEN we normalize each column for KNN to account for the differences btw building uses and open space uses
Two step normalization (NOT as clean or elegant as it should be...)
'''

# Assign parcel areas to each land use
cols = [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0]
for col in cols:
    if col < 9:
        data_df[col] = data_df[col] * data_df.bldgarea
    else:
        data_df[col] = data_df[col] *data_df.lotarea

In [297]:
data_df

,zipcode,borough,borocode,bldgarea,lotarea,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,bldg_count
0,"10,001.0",MN,1.0,"611,625.0","23,601.0",0.0,0.0,0.0,0.0,"611,625.0",0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
1,"10,001.0",MN,1.0,"13,489.0","2,469.0",0.0,0.0,0.0,"13,489.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
2,"10,001.0",MN,1.0,"34,000.0","17,773.0",0.0,0.0,0.0,0.0,"34,000.0",0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
3,"10,001.0",MN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
4,"10,001.0",MN,1.0,"2,008.0","1,980.0",0.0,0.0,0.0,0.0,"2,008.0",0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
5,"10,001.0",MN,1.0,"58,764.0","4,937.0",0.0,0.0,0.0,0.0,0.0,"58,764.0",0.0,0.0,0.0,0.0,0.0,"10,001.0"
6,"10,001.0",MN,1.0,"113,000.0","7,407.0",0.0,0.0,0.0,0.0,0.0,"113,000.0",0.0,0.0,0.0,0.0,0.0,"10,001.0"
7,"10,001.0",MN,1.0,"13,000.0","2,364.0",0.0,0.0,"13,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
8,"10,001.0",MN,1.0,"34,213.0","6,300.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"6,300.0",0.0,"10,001.0"
9,"10,001.0",MN,1.0,0.0,"8,636.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"8,636.0",0.0,"10,001.0"
10,"10,001.0",MN,1.0,"5,849.0","2,467.0",0.0,0.0,0.0,"5,849.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
11,"10,001.0",MN,1.0,"13,984.0","14,835.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"13,984.0",0.0,0.0,0.0,"10,001.0"
13,"10,001.0",MN,1.0,"4,400.0","1,470.0",0.0,0.0,0.0,"4,400.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
14,"10,001.0",MN,1.0,"4,690.0",988.0,0.0,0.0,0.0,"4,690.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
15,"10,001.0",MN,1.0,"6,000.0","1,092.0",0.0,0.0,0.0,"6,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
16,"10,001.0",MN,1.0,"23,760.0","4,699.0",0.0,0.0,0.0,"23,760.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
17,"10,001.0",MN,1.0,"108,426.0","44,295.0",0.0,0.0,0.0,"108,426.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
18,"10,001.0",MN,1.0,"10,635.0","2,467.0",0.0,0.0,0.0,"10,635.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
19,"10,001.0",MN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
20,"10,001.0",MN,1.0,"387,468.0","27,156.0",0.0,0.0,"387,468.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
21,"10,001.0",MN,1.0,"2,760.0","1,380.0",0.0,0.0,0.0,0.0,"2,760.0",0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
22,"10,001.0",MN,1.0,"8,370.0","2,250.0",0.0,0.0,0.0,0.0,"8,370.0",0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
23,"10,001.0",MN,1.0,"2,469.0","2,452.0",0.0,0.0,0.0,0.0,"2,469.0",0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
24,"10,001.0",MN,1.0,0.0,"3,703.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"3,703.0",0.0,"10,001.0"
25,"10,001.0",MN,1.0,"278,905.0","19,975.0",0.0,0.0,0.0,0.0,"278,905.0",0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
26,"10,001.0",MN,1.0,"109,490.0","12,442.0",0.0,0.0,0.0,0.0,"109,490.0",0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
27,"10,001.0",MN,1.0,"23,527.0","3,996.0",0.0,0.0,0.0,0.0,"23,527.0",0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
28,"10,001.0",MN,1.0,"94,331.0","7,266.0",0.0,0.0,0.0,0.0,0.0,"94,331.0",0.0,0.0,0.0,0.0,0.0,"10,001.0"
29,"10,001.0",MN,1.0,"12,785.0","2,469.0",0.0,0.0,0.0,"12,785.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
30,"10,001.0",MN,1.0,"33,117.0","3,325.0",0.0,0.0,0.0,0.0,"33,117.0",0.0,0.0,0.0,0.0,0.0,0.0,"10,001.0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838490,"11,694.0",QN,4.0,"1,210.0","4,000.0","1,210.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,694.0"
838491,"11,694.0",QN,4.0,"2,600.0","3,425.0","2,600.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,694.0"
838492,"11,694.0",QN,4.0,843.0,"5,000.0",843.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,694.0"
838493,"11,694.0",QN,4.0,"1,646.0","4,000.0","1,646.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,694.0"
838494,"11,694.0",QN,4.0,"1,656.0","4,000.0","1,656.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,694.0"
838495,"11,694.0",QN,4.0,"1,974.0","4,000.0","1,974.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,694.0"
838496,"11,694.0",QN,4.0,"1,841.0","4,000.0","1,841.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,694.0"
838497,"11,694.0",QN,4.0,"1,092.0","4,000.0","1,092.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,694.0"
838498,"11,694.0",QN,4.0,"1,456.0","5,000.0","1,456.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,694.0"
838499,"11,694.0",QN,4.0,"3,060.0","5,000.0","3,060.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,694.0"
838500,"11,694.0",QN,4.0,"2,707.0","6,000.0","2,707.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,694.0"
838501,"11,694.0",QN,4.0,"1,824.0","3,400.0","1,824.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,694.0"
838502,"11,695.0",QN,4.0,0.0,"106,720.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"106,720.0","11,695.0"
838503,"11,695.0",QN,4.0,0.0,"95,680.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"95,680.0","11,695.0"
838504,"11,695.0",QN,4.0,"12,000.0","3,533,200.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"3,533,200.0",0.0,0.0,"11,695.0"
838505,"11,695.0",QN,4.0,"50,000.0","6,500,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"6,500,000.0",0.0,0.0,"11,695.0"
838507,"11,697.0",QN,4.0,"460,000.0","3,589,344.0","460,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,697.0"
838508,"11,697.0",QN,4.0,"257,550.0","257,550.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"257,550.0",0.0,0.0,0.0,"11,697.0"
838509,"11,697.0",QN,4.0,"1,600,000.0","12,253,428.0","1,600,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,697.0"
838510,"11,697.0",QN,4.0,"4,000.0","78,200.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"4,000.0",0.0,0.0,0.0,"11,697.0"
838511,"11,697.0",QN,4.0,0.0,"105,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"105,000.0","11,697.0"
838512,"11,697.0",QN,4.0,0.0,"150,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"150,000.0","11,697.0"
838513,"11,697.0",QN,4.0,"350,000.0","920,966.0","350,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,697.0"
838514,"11,697.0",QN,4.0,"1,300.0","5,376.0","1,300.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,697.0"
838515,"11,697.0",QN,4.0,"12,252,000.0","8,276,400.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"8,276,400.0",0.0,0.0,"11,697.0"
838516,"12,345.0",MN,1.0,"4,640.0","1,243.0",0.0,0.0,0.0,"4,640.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"12,345.0"
838517,"12,345.0",MN,1.0,"4,720.0","1,243.0",0.0,0.0,0.0,"4,720.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"12,345.0"
838518,"12,345.0",MN,1.0,"5,320.0","1,508.0",0.0,0.0,0.0,"5,320.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"12,345.0"
838519,"12,345.0",MN,1.0,"3,712.0","1,243.0",0.0,0.0,0.0,"3,712.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"12,345.0"
838520,"12,345.0",MN,1.0,"7,064.0","1,553.0",0.0,0.0,0.0,"7,064.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"12,345.0"

In [298]:
data_df[data_df.zipcode == 10282]

,zipcode,borough,borocode,bldgarea,lotarea,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,bldg_count
42048,"10,282.0",MN,1.0,"502,000.0","42,342.0",0.0,0.0,0.0,0.0,"502,000.0",0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42049,"10,282.0",MN,1.0,"278,142.0","14,451.0",0.0,0.0,"278,142.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42050,"10,282.0",MN,1.0,"105,177.0","28,206.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"105,177.0",0.0,0.0,0.0,"10,282.0"
42051,"10,282.0",MN,1.0,"244,617.0","6,323.0",0.0,0.0,"244,617.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42052,"10,282.0",MN,1.0,"628,200.0","79,338.0",0.0,0.0,0.0,0.0,"628,200.0",0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42053,"10,282.0",MN,1.0,"356,786.0","16,653.0",0.0,0.0,"356,786.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42054,"10,282.0",MN,1.0,"2,152,863.0","97,076.0",0.0,0.0,0.0,0.0,"2,152,863.0",0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42055,"10,282.0",MN,1.0,"357,000.0","10,292.0",0.0,0.0,"357,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42056,"10,282.0",MN,1.0,"289,251.0","14,500.0",0.0,0.0,"289,251.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42058,"10,282.0",MN,1.0,"233,010.0","17,353.0",0.0,0.0,0.0,"233,010.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42060,"10,282.0",MN,1.0,0.0,"22,772,335.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"22,772,335.0","10,282.0"
42061,"10,282.0",MN,1.0,"505,985.0","30,713.0",0.0,0.0,0.0,"505,985.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42062,"10,282.0",MN,1.0,"355,980.0","38,225.0",0.0,0.0,0.0,"355,980.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42063,"10,282.0",MN,1.0,"377,325.0","32,218.0",0.0,0.0,0.0,"377,325.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42064,"10,282.0",MN,1.0,"450,000.0","60,085.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"450,000.0",0.0,0.0,0.0,"10,282.0"
42065,"10,282.0",MN,1.0,"331,843.0","18,270.0",0.0,0.0,0.0,"331,843.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42066,"10,282.0",MN,1.0,"239,185.0","19,600.0",0.0,0.0,"239,185.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"

In [299]:
data_df.drop(42060, axis=0, inplace=True)

In [300]:
data_df[data_df.zipcode == 10282]

,zipcode,borough,borocode,bldgarea,lotarea,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,bldg_count
42048,"10,282.0",MN,1.0,"502,000.0","42,342.0",0.0,0.0,0.0,0.0,"502,000.0",0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42049,"10,282.0",MN,1.0,"278,142.0","14,451.0",0.0,0.0,"278,142.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42050,"10,282.0",MN,1.0,"105,177.0","28,206.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"105,177.0",0.0,0.0,0.0,"10,282.0"
42051,"10,282.0",MN,1.0,"244,617.0","6,323.0",0.0,0.0,"244,617.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42052,"10,282.0",MN,1.0,"628,200.0","79,338.0",0.0,0.0,0.0,0.0,"628,200.0",0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42053,"10,282.0",MN,1.0,"356,786.0","16,653.0",0.0,0.0,"356,786.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42054,"10,282.0",MN,1.0,"2,152,863.0","97,076.0",0.0,0.0,0.0,0.0,"2,152,863.0",0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42055,"10,282.0",MN,1.0,"357,000.0","10,292.0",0.0,0.0,"357,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42056,"10,282.0",MN,1.0,"289,251.0","14,500.0",0.0,0.0,"289,251.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42058,"10,282.0",MN,1.0,"233,010.0","17,353.0",0.0,0.0,0.0,"233,010.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42061,"10,282.0",MN,1.0,"505,985.0","30,713.0",0.0,0.0,0.0,"505,985.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42062,"10,282.0",MN,1.0,"355,980.0","38,225.0",0.0,0.0,0.0,"355,980.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42063,"10,282.0",MN,1.0,"377,325.0","32,218.0",0.0,0.0,0.0,"377,325.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42064,"10,282.0",MN,1.0,"450,000.0","60,085.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"450,000.0",0.0,0.0,0.0,"10,282.0"
42065,"10,282.0",MN,1.0,"331,843.0","18,270.0",0.0,0.0,0.0,"331,843.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"
42066,"10,282.0",MN,1.0,"239,185.0","19,600.0",0.0,0.0,"239,185.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,282.0"

In [301]:
data_df.sort_values(by='lotarea')

,zipcode,borough,borocode,bldgarea,lotarea,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,bldg_count
550489,"11,354.0",QN,4.0,"640,355.0",0.0,0.0,0.0,0.0,"640,355.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,354.0"
449652,"11,226.0",BK,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,226.0"
16419,"10,019.0",MN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,019.0"
76809,"10,305.0",SI,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,305.0"
146817,"10,314.0",SI,5.0,"1,482.0",0.0,"1,482.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,314.0"
388598,"11,217.0",BK,3.0,"3,745.0",0.0,"3,745.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,217.0"
568054,"11,357.0",QN,4.0,"2,980.0",0.0,"2,980.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,357.0"
95584,"10,307.0",SI,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,307.0"
76811,"10,305.0",SI,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,305.0"
84827,"10,306.0",SI,5.0,"2,210.0",0.0,"2,210.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,306.0"
146809,"10,314.0",SI,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,314.0"
623231,"11,368.0",QN,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,368.0"
58843,"10,303.0",SI,5.0,"2,400.0",0.0,"2,400.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,303.0"
81660,"10,306.0",SI,5.0,"2,680.0",0.0,"2,680.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,306.0"
100586,"10,308.0",SI,5.0,"2,005.0",0.0,"2,005.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,308.0"
806279,"11,434.0",QN,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,434.0"
360962,"11,214.0",BK,3.0,"3,621.0",0.0,0.0,"3,621.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,214.0"
50981,"10,302.0",SI,5.0,"2,184.0",0.0,"2,184.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,302.0"
497117,"11,234.0",BK,3.0,"1,600.0",0.0,"1,600.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,234.0"
523968,"11,236.0",BK,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,236.0"
618033,"11,368.0",QN,4.0,"2,940.0",0.0,0.0,"2,940.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,368.0"
236249,"10,472.0",BX,2.0,"3,375.0",0.0,0.0,0.0,0.0,0.0,"3,375.0",0.0,0.0,0.0,0.0,0.0,0.0,"10,472.0"
819411,"11,435.0",QN,4.0,"2,020.0",0.0,"2,020.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,435.0"
748757,"11,420.0",QN,4.0,"2,850.0",0.0,"2,850.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,420.0"
45403,"10,301.0",SI,5.0,"2,116.0",0.0,"2,116.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,301.0"
146798,"10,314.0",SI,5.0,"301,665.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,314.0"
344482,"11,211.0",BK,3.0,"2,924.0",0.0,0.0,"2,924.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,211.0"
301805,"11,206.0",BK,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,206.0"
475305,"11,230.0",BK,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,230.0"
546286,"11,249.0",BK,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,249.0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
720030,"11,414.0",QN,4.0,0.0,"11,600,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,600,000.0",0.0,0.0,"11,414.0"
838509,"11,697.0",QN,4.0,"1,600,000.0","12,253,428.0","1,600,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"11,697.0"
35440,"10,035.0",MN,1.0,948.0,"12,300,030.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"12,300,030.0",0.0,0.0,"10,035.0"
110718,"10,309.0",SI,5.0,"18,000.0","12,369,565.0",0.0,0.0,0.0,0.0,0.0,0.0,"18,000.0",0.0,0.0,0.0,0.0,"10,309.0"
711114,"11,413.0",QN,4.0,0.0,"12,826,931.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"12,826,931.0",0.0,0.0,"11,413.0"
87500,"10,306.0",SI,5.0,"8,170.0","14,489,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"14,489,000.0",0.0,0.0,"10,306.0"
231692,"10,470.0",BX,2.0,"61,055.0","14,959,200.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"14,959,200.0",0.0,0.0,"10,470.0"
203845,"10,465.0",BX,2.0,"5,000.0","15,837,500.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"15,837,500.0",0.0,0.0,"10,465.0"
446822,"11,226.0",BK,3.0,0.0,"17,142,400.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"17,142,400.0",0.0,0.0,"11,226.0"
631393,"11,370.0",BX,2.0,"5,519,372.0","17,825,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"5,519,372.0",0.0,0.0,0.0,"11,370.0"
553271,"11,355.0",QN,4.0,"1,225,030.0","17,870,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"17,870,000.0",0.0,0.0,"11,355.0"
99456,"10,308.0",SI,5.0,"11,359.0","17,903,160.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"17,903,160.0",0.0,0.0,"10,308.0"
45278,"10,301.0",SI,5.0,"330,780.0","17,948,815.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"17,948,815.0",0.0,0.0,"10,301.0"
235441,"10,471.0",BX,2.0,"87,000.0","19,850,400.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"19,850,400.0",0.0,0.0,"10,471.0"
485213,"11,232.0",BK,3.0,"92,440.0","20,309,060.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"20,309,060.0",0.0,0.0,"11,232.0"
833346,"11,693.0",QN,4.0,0.0,"20,780,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"20,780,000.0",0.0,0.0,"11,693.0"
199818,"10,465.0",BX,2.0,"12,150.0","21,000,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"21,000,000.0",0.0,0.0,"10,465.0"
218560,"10,467.0",BX,2.0,"5,688.0","22,251,600.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"22,251,600.0",0.0,0.0,"10,467.0"
141443,"10,314.0",SI,5.0,"74,000.0","22,812,000.0",0.0,0.0,0.0,0.0,0.0,0.0,"74,000.0",0.0,0.0,0.0,0.0,"10,314.0"
500238,"11,234.0",BK,3.0,0.0,"23,108,842.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"23,108,842.0","11,234.0"
630487,"11,370.0",QN,4.0,"2,059,404.0","29,305,534.0",0.0,0.0,0.0,0.0,0.0,0.0,"2,059,404.0",0.0,0.0,0.0,0.0,"11,370.0"
78158,"10,306.0",SI,5.0,"3,600.0","31,850,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"31,850,000.0",0.0,0.0,"10,306.0"
467890,"11,229.0",BK,3.0,"10,250.0","33,693,556.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"33,693,556.0",0.0,0.0,"11,229.0"
582314,"11,360.0",QN,4.0,0.0,"35,000,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"35,000,000.0","11,360.0"
27309,"10,028.0",MN,1.0,0.0,"36,590,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"36,590,000.0",0.0,0.0,"10,028.0"
505161,"11,234.0",BK,3.0,0.0,"43,263,037.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"43,263,037.0",0.0,0.0,"11,234.0"
506375,"11,234.0",BK,3.0,100.0,"52,591,959.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,"11,234.0"
196546,"10,464.0",BX,2.0,"270,021.0","74,250,000.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"74,250,000.0",0.0,0.0,"10,464.0"
833776,"11,693.0",BK,3.0,0.0,"207,391,225.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"207,391,225.0",0.0,0.0,"11,693.0"
790988,"11,430.0",QN,4.0,"17,095,037.0","214,755,710.0",0.0,0.0,0.0,0.0,0.0,0.0,"17,095,037.0",0.0,0.0,0.0,0.0,"11,430.0"

In [302]:
# Groupby to create summary data

data_df.drop("borough", axis=1, inplace=True)
landuse_df = data_df.groupby("zipcode").agg({'borocode':'median',
                                             'lotarea': 'sum',
                                             1.0:'sum',
                                             2.0:'sum',
                                             3.0:'sum',
                                             4.0:'sum', 
                                             5.0:'sum',
                                             6.0:'sum',
                                             7.0:'sum',
                                             8.0:'sum',
                                             9.0:'sum',
                                             10.0:'sum',
                                             11.0:'sum',
                                             'bldg_count': 'count'
                                            })
landuse_df.reset_index(inplace=True)
landuse_df.head()

,zipcode,borocode,lotarea,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,bldg_count
0,"10,001.0",1.0,"12,931,894.0","33,606.0","592,289.0","8,350,224.0","13,875,477.0","53,005,101.0","4,445,633.0","1,182,594.0","10,895,555.0","502,515.0","507,583.0","1,006,828.0",980
1,"10,002.0",1.0,"18,127,897.0","51,117.0","1,938,379.0","16,618,352.0","16,356,822.0","3,200,967.0","1,182,700.0","590,077.0","4,618,645.0","4,397,528.0","185,666.0","513,831.0",1672
2,"10,003.0",1.0,"9,648,834.0","515,395.0","3,786,590.0","12,746,613.0","15,687,708.0","10,760,299.0","714,504.0","3,459.0","9,501,989.0","426,087.0","88,655.0","47,221.0",1864
3,"10,004.0",1.0,"12,027,534.0",0.0,0.0,"725,023.0","4,194,913.0","21,117,265.0","85,472.0","462,543.0","3,722,844.0","1,083,714.0","11,398.0","15,493.0",112
4,"10,005.0",1.0,"1,934,277.0",0.0,0.0,"2,480,663.0","5,683,041.0","16,515,733.0",0.0,"682,450.0","43,568.0",0.0,0.0,"2,877.0",64

In [303]:
# Relabel borocode so easy to remember (had to drop above b/c groupby only accepts numeric columns)
boro_dict = {"Manhattan": 1.0, 
             "Bronx": 2.0, 
             "Brooklyn": 3.0, 
             "Queens": 4.0, 
             "Staten Island": 5.0}

def relabel(num):
    boros = list(boro_dict.keys())
    values = list(boro_dict.values())    
    return boros[values.index(num)]

landuse_df['borocode'] = landuse_df['borocode'].apply(relabel)

In [304]:
# Read in and add neighborhoods (important for frontend display)
neighborhoods_df = pd.read_csv("neighborhoods.csv")
landuse_df = landuse_df.merge(neighborhoods_df, on="zipcode", how="inner")

In [305]:
# Rename colummns
cols_dict = {1.0: "1 & 2 Family Residential",
             2.0: "Multi-Family Walk-up",
             3.0: "Multi-Family Elevator",
             4.0: "Mixed Residential & Commercial",
             5.0: "Commercial & Office",
             6.0: "Industrial & Manufacturing",
             7.0: "Transportation & Utility",
             8.0: "Public Facilities & Institutions",
             9.0: "Open Space & Outdoor Recreation",
             10.0: "Parking",
             11.0: "Vacant Land"}

landuse_df.rename(columns = cols_dict, inplace=True)

In [306]:
# Reorder columns
cols = ['zipcode',
        'borocode',
        'neighborhood',
        'lotarea',
        'bldg_count',
        '1 & 2 Family Residential',
        'Multi-Family Walk-up',
        'Multi-Family Elevator',
        'Mixed Residential & Commercial',
        'Commercial & Office',
        'Industrial & Manufacturing',
        'Transportation & Utility',
        'Public Facilities & Institutions',
        'Open Space & Outdoor Recreation',
        'Parking',
        'Vacant Land']

landuse_df = landuse_df[cols]

In [307]:
# Remove miniscule zipcodes from Manhattan only (lots of 1-10 building mini-zipcodes)
landuse_df = landuse_df[(landuse_df.bldg_count >= 10) | (landuse_df.borocode != "Manhattan")].copy()
landuse_df.drop('bldg_count', axis=1, inplace=True)

In [308]:
landuse_df

,zipcode,borocode,neighborhood,lotarea,1 & 2 Family Residential,Multi-Family Walk-up,Multi-Family Elevator,Mixed Residential & Commercial,Commercial & Office,Industrial & Manufacturing,Transportation & Utility,Public Facilities & Institutions,Open Space & Outdoor Recreation,Parking,Vacant Land
0,"10,001.0",Manhattan,NOMAD / Chelsea,"12,931,894.0","33,606.0","592,289.0","8,350,224.0","13,875,477.0","53,005,101.0","4,445,633.0","1,182,594.0","10,895,555.0","502,515.0","507,583.0","1,006,828.0"
1,"10,002.0",Manhattan,Lower East Side,"18,127,897.0","51,117.0","1,938,379.0","16,618,352.0","16,356,822.0","3,200,967.0","1,182,700.0","590,077.0","4,618,645.0","4,397,528.0","185,666.0","513,831.0"
2,"10,003.0",Manhattan,NOHO / Union Square,"9,648,834.0","515,395.0","3,786,590.0","12,746,613.0","15,687,708.0","10,760,299.0","714,504.0","3,459.0","9,501,989.0","426,087.0","88,655.0","47,221.0"
3,"10,004.0",Manhattan,Bowling Green,"12,027,534.0",0.0,0.0,"725,023.0","4,194,913.0","21,117,265.0","85,472.0","462,543.0","3,722,844.0","1,083,714.0","11,398.0","15,493.0"
4,"10,005.0",Manhattan,Wall Street,"1,934,277.0",0.0,0.0,"2,480,663.0","5,683,041.0","16,515,733.0",0.0,"682,450.0","43,568.0",0.0,0.0,"2,877.0"
5,"10,006.0",Manhattan,Lower Manhattan,"1,066,311.0",0.0,0.0,"2,406,484.0","1,409,933.0","7,224,839.0",0.0,0.0,"237,019.0","19,994.0","250,798.0","15,013.0"
6,"10,007.0",Manhattan,City Hall,"4,363,757.0","11,515.0","135,365.0","25,180,716.0","7,113,948.0","26,421,102.0","186,711.0","6,565.0","1,964,664.0","116,421.0","21,764.0","16,725.0"
7,"10,009.0",Manhattan,East Village,"11,715,549.0","49,533.0","4,551,976.0","7,867,831.0","16,437,543.0","1,094,334.0","132,152.0","175,000.0","1,778,954.0","811,185.0","35,020.0","150,996.0"
8,"10,010.0",Manhattan,Flat Iron / Gramercy,"6,480,598.0","35,514.0","671,530.0","7,188,028.0","14,478,911.0","16,348,068.0","316,637.0","65,745.0","5,288,022.0","554,573.0","55,381.0","14,715.0"
9,"10,011.0",Manhattan,Chelsea,"13,357,415.0","1,029,569.0","4,471,226.0","14,800,035.0","18,123,314.0","15,296,761.0","1,648,286.0","464,332.0","4,294,146.0","703,041.0","64,599.0","471,070.0"
10,"10,012.0",Manhattan,SOHO / NOLITA,"5,543,373.0","145,551.0","1,454,433.0","4,613,138.0","9,531,808.0","6,921,166.0","701,519.0","2,303.0","5,400,219.0","62,153.0","51,211.0","38,536.0"
11,"10,013.0",Manhattan,TriBeCa / Little Italy,"8,990,457.0","195,307.0","1,131,087.0","5,779,311.0","56,057,948.0","18,849,057.0","2,494,273.0","277,723.0","4,696,390.0","246,893.0","167,900.0","35,595.0"
12,"10,014.0",Manhattan,Greenwich Village,"11,468,408.0","1,491,761.0","4,724,791.0","7,474,829.0","8,185,370.0","10,160,665.0","416,587.0","767,117.0","1,278,432.0","482,574.0","144,776.0","831,300.0"
13,"10,016.0",Manhattan,Murray Hill / Kips Bay,"9,873,100.0","326,668.0","1,390,578.0","13,831,161.0","22,955,466.0","29,604,440.0","670,902.0","6,150.0","7,599,194.0","140,457.0","92,941.0","473,290.0"
14,"10,017.0",Manhattan,Midtown East,"6,425,627.0","147,059.0","102,061.0","6,046,123.0","6,548,307.0","59,741,723.0",0.0,"74,550.0","3,863,733.0","148,020.0","12,552.0","102,076.0"
15,"10,018.0",Manhattan,Garment District,"7,557,096.0",0.0,"291,891.0","3,240,209.0","4,078,905.0","34,754,916.0","4,832,798.0","2,240,173.0","1,651,025.0",0.0,"328,346.0","729,893.0"
16,"10,019.0",Manhattan,Midtown / Hell's Kitchen,"13,496,280.0","39,569.0","1,841,651.0","12,189,484.0","34,487,557.0","45,803,364.0","473,962.0","777,575.0","5,264,467.0","394,388.0","109,443.0","132,808.0"
17,"10,020.0",Manhattan,Midtown,"770,675.0",0.0,0.0,0.0,"18,000.0","12,212,344.0",0.0,0.0,0.0,0.0,0.0,0.0
18,"10,021.0",Manhattan,Lenox Hill / Upper East Side,"6,354,127.0","1,585,705.0","1,889,263.0","20,806,893.0","13,542,249.0","1,997,043.0","2,400.0","28,097.0","6,228,936.0",0.0,"54,596.0","6,360.0"
19,"10,022.0",Manhattan,Midtown East,"7,842,645.0","330,406.0","878,302.0","19,038,305.0","16,970,483.0","47,958,268.0","55,175.0","116,360.0","1,589,981.0","58,193.0","64,562.0","41,961.0"
20,"10,023.0",Manhattan,Lincoln Square,"9,333,036.0","652,042.0","3,811,309.0","21,279,942.0","25,785,893.0","3,974,104.0",0.0,0.0,"4,571,429.0","198,223.0","21,213.0","194,884.0"
21,"10,024.0",Manhattan,Upper West Side,"11,383,197.0","1,202,774.0","5,475,999.0","21,852,338.0","15,215,282.0","1,223,284.0","103,576.0",0.0,"3,887,400.0","2,742,616.0","32,353.0","40,065.0"
22,"10,025.0",Manhattan,Manhattan Valley,"18,554,728.0","500,570.0","4,928,668.0","32,659,777.0","14,682,226.0","1,606,729.0","127,322.0","23,703.0","19,291,758.0","4,612,366.0","86,970.0","167,193.0"
23,"10,026.0",Manhattan,South Harlem,"5,620,049.0","329,033.0","3,847,017.0","6,602,068.0","5,660,989.0","166,654.0",0.0,0.0,"1,381,636.0","52,654.0","33,369.0","109,752.0"
24,"10,027.0",Manhattan,Morningside Heights / Harlem,"16,768,749.0","1,085,095.0","6,163,938.0","12,757,706.0","8,258,381.0","3,931,787.0","642,528.0","490,568.0","11,486,677.0","1,727,333.0","209,141.0","1,095,916.0"
25,"10,028.0",Manhattan,Yorkville,"42,720,567.0","737,330.0","3,314,081.0","18,255,253.0","13,731,428.0","433,476.0","44,183.0","18,930.0","1,476,654.0","37,224,000.0","15,556.0","35,393.0"
26,"10,029.0",Manhattan,Upper East Side / East Harlem,"15,606,915.0","111,917.0","3,591,936.0","17,265,845.0","12,794,749.0","975,600.0","378,725.0","216,324.0","10,062,118.0","911,544.0","298,939.0","543,596.0"
27,"10,030.0",Manhattan,Striver's Row,"5,653,662.0","774,088.0","4,628,963.0","3,004,654.0","4,303,357.0","110,686.0",0.0,0.0,"1,341,992.0","1,115,583.0","38,230.0","139,435.0"
28,"10,031.0",Manhattan,Hamilton Heights / Sugar Hill,"9,566,142.0","1,242,521.0","6,383,009.0","9,886,916.0","5,265,342.0","453,007.0","222,311.0","26,017.0","3,936,851.0","1,316,001.0","19,039.0","90,629.0"
29,"10,032.0",Manhattan,Washington Heights,"11,111,588.0","345,169.0","5,406,723.0","9,011,038.0","7,130,683.0","490,901.0","24,714.0","24,170.0","11,198,145.0","3,113,476.0","288,755.0","88,779.0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,"11,385.0",Queens,Ridgewood / Glendale,"84,568,813.0","16,121,004.0","16,644,765.0","695,956.0","5,810,130.0","2,652,354.0","6,031,941.0","267,622.0","2,863,481.0","36,310,584.0","781,054.0","299,951.0"
182,"11,411.0",Queens,Cambria Heights,"20,617,338.0","6,888,611.0","88,292.0",0.0,"70,619.0","299,776.0",0.0,"6,653.0","682,868.0",0.0,"22,486.0","2,268.0"
183,"11,412.0",Queens,St. Albins / Hollis,"31,345,123.0","12,250,978.0","340,837.0","154,824.0","736,562.0","344,338.0","527,030.0","84,582.0","1,006,467.0","96,908.0","106,777.0","80,624.0"
184,"11,413.0",Queens,Brookville / Laurelton,"61,873,191.0","13,998,504.0","353,908.0",0.0,"182,737.0","752,809.0","1,949,320.0","62,229.0","1,174,929.0","18,930,162.0","175,416.0","312,460.0"
185,"11,414.0",Queens,Howard Beach,"40,912,577.0","9,751,254.0","2,245,988.0","2,090,642.0","289,219.0","892,523.0","1,400.0","3,006.0","504,989.0","13,647,154.0","86,799.0","374,554.0"
186,"11,415.0",Queens,Kew Gardens,"9,768,431.0","1,782,564.0","1,322,692.0","5,196,781.0","1,759,878.0","994,338.0","34,487.0","4,705.0","780,491.0","1,964,304.0","152,431.0","20,954.0"
187,"11,416.0",Queens,Woodhaven / Ozone Park,"11,651,038.0","4,808,177.0","1,499,972.0",0.0,"883,024.0","576,513.0","466,978.0","141,183.0","701,896.0","148,040.0","198,853.0","62,093.0"
188,"11,417.0",Queens,Ozone Park,"19,082,067.0","7,554,870.0","1,579,158.0",0.0,"733,693.0","568,005.0","468,406.0","80,598.0","1,244,651.0","1,457,103.0","244,763.0","144,804.0"
189,"11,418.0",Queens,Richmond Hill,"20,473,254.0","6,989,644.0","2,473,063.0","1,892,226.0","1,718,639.0","1,267,287.0","1,583,916.0","75,974.0","1,968,887.0","3,032.0","236,430.0","103,666.0"
190,"11,419.0",Queens,South Richmond Hill,"20,906,266.0","9,880,447.0","1,641,139.0","46,760.0","1,477,640.0","686,233.0","160,051.0","49,411.0","626,089.0","236,752.0","111,407.0","163,050.0"
191,"11,420.0",Queens,South Ozone Park,"38,512,892.0","12,498,809.0","651,728.0",0.0,"684,550.0","511,211.0","53,846.0","76,802.0","1,159,866.0","7,907,614.0","214,065.0","1,256,564.0"
192,"11,421.0",Queens,Woodhaven,"16,643,308.0","8,803,973.0","2,132,043.0","1,243,736.0","1,273,895.0","296,284.0","82,028.0","22,221.0","455,308.0","102,834.0","63,035.0","36,071.0"
193,"11,422.0",Queens,Rosedale,"31,286,902.0","9,791,071.0","912,028.0",0.0,"185,024.0","630,759.0","81,696.0","13,017.0","613,022.0","47,354.0","233,783.0","531,104.0"
194,"11,423.0",Queens,Hollis / Holliswood,"25,744,829.0","8,087,531.0","1,216,244.0","1,678,238.0","648,308.0","419,783.0","1,026,553.0","94,138.0","839,545.0","436,654.0","185,817.0","140,157.0"
195,"11,426.0",Queens,Floral Park / Bellerose Manor,"24,474,227.0","5,968,291.0","925,217.0","263,883.0","140,416.0","419,374.0","137,706.0","12,273.0","1,077,723.0","724,140.0","81,314.0","56,405.0"
196,"11,427.0",Queens,Hollis Hills,"27,210,712.0","6,473,320.0","2,439,732.0","437,087.0","156,580.0","194,145.0",0.0,"5,985.0","2,444,529.0","795,907.0","26,025.0","148,494.0"
197,"11,428.0",Queens,Queens Village,"15,172,785.0","5,666,382.0","413,322.0","200,737.0","619,449.0","486,854.0","123,195.0","54,336.0","781,900.0",0.0,"49,867.0","40,315.0"
198,"11,429.0",Queens,Queens Village,"22,520,342.0","7,973,836.0","250,522.0","98,116.0","286,292.0","295,565.0","452,708.0","320,215.0","569,612.0","103,294.0","187,443.0","101,508.0"
199,"11,430.0",Queens,JFK Airport,"215,436,359.0",0.0,0.0,0.0,0.0,"145,538.0","42,400.0","17,280,787.0","29,000.0",0.0,"31,420.0",0.0
200,"11,432.0",Queens,Jamaica Hills,"43,493,215.0","9,994,580.0","1,929,693.0","7,378,154.0","4,107,566.0","2,917,690.0","11,270.0","16,398.0","10,079,934.0","443,352.0","539,236.0","271,236.0"
201,"11,433.0",Queens,Jamaica,"27,892,904.0","7,905,595.0","1,137,226.0","1,509,858.0","679,882.0","2,593,100.0","2,103,300.0","335,764.0","2,414,571.0","942,174.0","660,754.0","845,551.0"
202,"11,434.0",Queens,Springfield Gardens,"57,861,259.0","14,424,636.0","420,494.0","8,870,953.0","528,147.0","1,808,663.0","2,275,456.0","179,473.0","2,814,011.0","6,793,869.0","932,332.0","413,252.0"
203,"11,435.0",Queens,Briarwood,"27,448,598.0","7,263,755.0","3,191,866.0","6,810,531.0","2,655,828.0","2,468,101.0","952,046.0","171,412.0","2,453,715.0","922,482.0","572,402.0","379,229.0"
204,"11,436.0",Queens,South Jamaica,"14,059,953.0","5,577,045.0","76,479.0",0.0,"171,534.0","919,551.0","20,928.0","10,334.0","688,660.0","353,470.0","129,161.0","149,712.0"
205,"11,691.0",Queens,Far Rockaway / Edgemere,"46,645,564.0","9,979,445.0","2,379,913.0","9,220,076.0","1,378,914.0","904,570.0","387,791.0","141,782.0","3,118,445.0","2,873,213.0","487,635.0","3,892,996.0"
206,"11,692.0",Queens,Arverne,"29,707,391.0","4,017,419.0","536,551.0","3,390,311.0","312,001.0","139,526.0","82,475.0","43,445.0","632,900.0","12,789,406.0","217,033.0","4,776,234.0"
207,"11,693.0",Queens,Hammels,"250,388,119.0","2,007,137.0","497,075.0","3,057,924.0","161,033.0","191,077.0","297,651.0",0.0,"382,212.0","238,296,431.0","221,282.0","1,820,715.0"
208,"11,694.0",Queens,Seaside / Belle Harbor,"38,686,098.0","6,462,296.0","1,523,505.0","2,726,703.0","526,490.0","493,090.0","37,309.0","27,067.0","1,570,910.0","9,377,250.0","144,992.0","6,726,752.0"
209,"11,695.0",Queens,Fort Tilden,"10,235,600.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,033,200.0",0.0,"202,400.0"
210,"11,697.0",Queens,Breezy Point,"25,636,264.0","2,411,300.0",0.0,0.0,0.0,0.0,0.0,0.0,"261,550.0","8,276,400.0",0.0,"255,000.0"

In [309]:
landuse_df[landuse_df.zipcode == 10282]

,zipcode,borocode,neighborhood,lotarea,1 & 2 Family Residential,Multi-Family Walk-up,Multi-Family Elevator,Mixed Residential & Commercial,Commercial & Office,Industrial & Manufacturing,Transportation & Utility,Public Facilities & Institutions,Open Space & Outdoor Recreation,Parking,Vacant Land
68,"10,282.0",Manhattan,Battery Park City,"525,645.0",0.0,0.0,"1,764,981.0","1,804,143.0","3,283,063.0",0.0,0.0,"555,177.0",0.0,0.0,0.0

### Normalize Data

In [310]:
normalized_df = landuse_df.copy()

In [311]:
# # Normalize by lot area

# normalized_df['1 & 2 Family Residential'] = normalized_df['1 & 2 Family Residential'] / normalized_df['lotarea']
# normalized_df['Multi-Family Walk-up'] = normalized_df['Multi-Family Walk-up'] / normalized_df['lotarea']
# normalized_df['Multi-Family Elevator'] = normalized_df['Multi-Family Elevator'] / normalized_df['lotarea']
# normalized_df['Mixed Residential & Commercial'] = normalized_df['Mixed Residential & Commercial'] / normalized_df['lotarea']
# normalized_df['Commercial & Office'] = normalized_df['Commercial & Office'] / normalized_df['lotarea']
# normalized_df['Industrial & Manufacturing'] = normalized_df['Industrial & Manufacturing'] / normalized_df['lotarea']
# normalized_df['Transportation & Utility'] = normalized_df['Transportation & Utility'] / normalized_df['lotarea']
# normalized_df['Public Facilities & Institutions'] = normalized_df['Public Facilities & Institutions'] / normalized_df['lotarea']
# normalized_df['Open Space & Outdoor Recreation'] = normalized_df['Open Space & Outdoor Recreation'] / normalized_df['lotarea']
# normalized_df['Parking'] = normalized_df['Parking'] / normalized_df['lotarea']
# normalized_df['Vacant Land'] = normalized_df['Vacant Land'] / normalized_df['lotarea']

In [312]:
normalized_df.drop("lotarea", axis=1, inplace=True)

In [313]:
# # Scale landuse columns
# # Can't use StandardScaler b/c disparity in Parks will create huge numbers that will bias KNN to that variable

# x = normalized_df.iloc[:, 3:]
# scaler = preprocessing.MinMaxScaler()
# x_scaled = scaler.fit_transform(x)

# normalized_df.iloc[:, 3:] = x_scaled

In [314]:
normalized_df.head()

,zipcode,borocode,neighborhood,1 & 2 Family Residential,Multi-Family Walk-up,Multi-Family Elevator,Mixed Residential & Commercial,Commercial & Office,Industrial & Manufacturing,Transportation & Utility,Public Facilities & Institutions,Open Space & Outdoor Recreation,Parking,Vacant Land
0,"10,001.0",Manhattan,NOMAD / Chelsea,"33,606.0","592,289.0","8,350,224.0","13,875,477.0","53,005,101.0","4,445,633.0","1,182,594.0","10,895,555.0","502,515.0","507,583.0","1,006,828.0"
1,"10,002.0",Manhattan,Lower East Side,"51,117.0","1,938,379.0","16,618,352.0","16,356,822.0","3,200,967.0","1,182,700.0","590,077.0","4,618,645.0","4,397,528.0","185,666.0","513,831.0"
2,"10,003.0",Manhattan,NOHO / Union Square,"515,395.0","3,786,590.0","12,746,613.0","15,687,708.0","10,760,299.0","714,504.0","3,459.0","9,501,989.0","426,087.0","88,655.0","47,221.0"
3,"10,004.0",Manhattan,Bowling Green,0.0,0.0,"725,023.0","4,194,913.0","21,117,265.0","85,472.0","462,543.0","3,722,844.0","1,083,714.0","11,398.0","15,493.0"
4,"10,005.0",Manhattan,Wall Street,0.0,0.0,"2,480,663.0","5,683,041.0","16,515,733.0",0.0,"682,450.0","43,568.0",0.0,0.0,"2,877.0"

### Ensure matching zipcodes between DB and geojson

In [315]:
# geo_path = "../nearest_neighborhood/static/geojson/zipcodes.geojson"

# with open(geo_path) as f:
#     d = json.load(f)
#     pprint(d)

In [316]:
# # Create new df from zipcode GeoJSON

# geo_path = "../nearest_neighborhood/static/geojson/zipcodes.geojson"

# zips = []
# areas = []
# neighborhood = []
# ids = []

# with open(geo_path) as f:
#     d = json.load(f)
#     #pprint(d)
#     for obj in d['features']:
#         zips.append(obj['properties']['postalCode'])
#         areas.append(obj['properties']['Shape_Area'])
#         neighborhood.append(obj['properties']['PO_NAME'])
#         ids.append(obj['id'])
        
# data = {"zipcode": zips, "id": ids, "area": areas, "neighborhood": neighborhood}
# geo_df = pd.DataFrame.from_dict(data)

# geo_df.sort_values("zipcode", inplace=True)
# geo_df.reset_index(drop=True, inplace=True)

In [317]:
# print(geo_df.to_string())

In [318]:
# csv_path = "../nearest_neighborhood/static/js/available_zipcodes.csv"
# landuse_df.zipcode.to_csv(csv_path, indext=False)

In [319]:
# List of zipcodes without corresponding geoJSON need to be removed from database
drop_zips = [11249, 22222]

In [320]:
def check_zip(zipcode):
    if zipcode not in drop_zips:
        return True
    else:
        return False

In [321]:
normalized_df = normalized_df[normalized_df.zipcode.apply(check_zip)].copy()

In [322]:
normalized_df

,zipcode,borocode,neighborhood,1 & 2 Family Residential,Multi-Family Walk-up,Multi-Family Elevator,Mixed Residential & Commercial,Commercial & Office,Industrial & Manufacturing,Transportation & Utility,Public Facilities & Institutions,Open Space & Outdoor Recreation,Parking,Vacant Land
0,"10,001.0",Manhattan,NOMAD / Chelsea,"33,606.0","592,289.0","8,350,224.0","13,875,477.0","53,005,101.0","4,445,633.0","1,182,594.0","10,895,555.0","502,515.0","507,583.0","1,006,828.0"
1,"10,002.0",Manhattan,Lower East Side,"51,117.0","1,938,379.0","16,618,352.0","16,356,822.0","3,200,967.0","1,182,700.0","590,077.0","4,618,645.0","4,397,528.0","185,666.0","513,831.0"
2,"10,003.0",Manhattan,NOHO / Union Square,"515,395.0","3,786,590.0","12,746,613.0","15,687,708.0","10,760,299.0","714,504.0","3,459.0","9,501,989.0","426,087.0","88,655.0","47,221.0"
3,"10,004.0",Manhattan,Bowling Green,0.0,0.0,"725,023.0","4,194,913.0","21,117,265.0","85,472.0","462,543.0","3,722,844.0","1,083,714.0","11,398.0","15,493.0"
4,"10,005.0",Manhattan,Wall Street,0.0,0.0,"2,480,663.0","5,683,041.0","16,515,733.0",0.0,"682,450.0","43,568.0",0.0,0.0,"2,877.0"
5,"10,006.0",Manhattan,Lower Manhattan,0.0,0.0,"2,406,484.0","1,409,933.0","7,224,839.0",0.0,0.0,"237,019.0","19,994.0","250,798.0","15,013.0"
6,"10,007.0",Manhattan,City Hall,"11,515.0","135,365.0","25,180,716.0","7,113,948.0","26,421,102.0","186,711.0","6,565.0","1,964,664.0","116,421.0","21,764.0","16,725.0"
7,"10,009.0",Manhattan,East Village,"49,533.0","4,551,976.0","7,867,831.0","16,437,543.0","1,094,334.0","132,152.0","175,000.0","1,778,954.0","811,185.0","35,020.0","150,996.0"
8,"10,010.0",Manhattan,Flat Iron / Gramercy,"35,514.0","671,530.0","7,188,028.0","14,478,911.0","16,348,068.0","316,637.0","65,745.0","5,288,022.0","554,573.0","55,381.0","14,715.0"
9,"10,011.0",Manhattan,Chelsea,"1,029,569.0","4,471,226.0","14,800,035.0","18,123,314.0","15,296,761.0","1,648,286.0","464,332.0","4,294,146.0","703,041.0","64,599.0","471,070.0"
10,"10,012.0",Manhattan,SOHO / NOLITA,"145,551.0","1,454,433.0","4,613,138.0","9,531,808.0","6,921,166.0","701,519.0","2,303.0","5,400,219.0","62,153.0","51,211.0","38,536.0"
11,"10,013.0",Manhattan,TriBeCa / Little Italy,"195,307.0","1,131,087.0","5,779,311.0","56,057,948.0","18,849,057.0","2,494,273.0","277,723.0","4,696,390.0","246,893.0","167,900.0","35,595.0"
12,"10,014.0",Manhattan,Greenwich Village,"1,491,761.0","4,724,791.0","7,474,829.0","8,185,370.0","10,160,665.0","416,587.0","767,117.0","1,278,432.0","482,574.0","144,776.0","831,300.0"
13,"10,016.0",Manhattan,Murray Hill / Kips Bay,"326,668.0","1,390,578.0","13,831,161.0","22,955,466.0","29,604,440.0","670,902.0","6,150.0","7,599,194.0","140,457.0","92,941.0","473,290.0"
14,"10,017.0",Manhattan,Midtown East,"147,059.0","102,061.0","6,046,123.0","6,548,307.0","59,741,723.0",0.0,"74,550.0","3,863,733.0","148,020.0","12,552.0","102,076.0"
15,"10,018.0",Manhattan,Garment District,0.0,"291,891.0","3,240,209.0","4,078,905.0","34,754,916.0","4,832,798.0","2,240,173.0","1,651,025.0",0.0,"328,346.0","729,893.0"
16,"10,019.0",Manhattan,Midtown / Hell's Kitchen,"39,569.0","1,841,651.0","12,189,484.0","34,487,557.0","45,803,364.0","473,962.0","777,575.0","5,264,467.0","394,388.0","109,443.0","132,808.0"
17,"10,020.0",Manhattan,Midtown,0.0,0.0,0.0,"18,000.0","12,212,344.0",0.0,0.0,0.0,0.0,0.0,0.0
18,"10,021.0",Manhattan,Lenox Hill / Upper East Side,"1,585,705.0","1,889,263.0","20,806,893.0","13,542,249.0","1,997,043.0","2,400.0","28,097.0","6,228,936.0",0.0,"54,596.0","6,360.0"
19,"10,022.0",Manhattan,Midtown East,"330,406.0","878,302.0","19,038,305.0","16,970,483.0","47,958,268.0","55,175.0","116,360.0","1,589,981.0","58,193.0","64,562.0","41,961.0"
20,"10,023.0",Manhattan,Lincoln Square,"652,042.0","3,811,309.0","21,279,942.0","25,785,893.0","3,974,104.0",0.0,0.0,"4,571,429.0","198,223.0","21,213.0","194,884.0"
21,"10,024.0",Manhattan,Upper West Side,"1,202,774.0","5,475,999.0","21,852,338.0","15,215,282.0","1,223,284.0","103,576.0",0.0,"3,887,400.0","2,742,616.0","32,353.0","40,065.0"
22,"10,025.0",Manhattan,Manhattan Valley,"500,570.0","4,928,668.0","32,659,777.0","14,682,226.0","1,606,729.0","127,322.0","23,703.0","19,291,758.0","4,612,366.0","86,970.0","167,193.0"
23,"10,026.0",Manhattan,South Harlem,"329,033.0","3,847,017.0","6,602,068.0","5,660,989.0","166,654.0",0.0,0.0,"1,381,636.0","52,654.0","33,369.0","109,752.0"
24,"10,027.0",Manhattan,Morningside Heights / Harlem,"1,085,095.0","6,163,938.0","12,757,706.0","8,258,381.0","3,931,787.0","642,528.0","490,568.0","11,486,677.0","1,727,333.0","209,141.0","1,095,916.0"
25,"10,028.0",Manhattan,Yorkville,"737,330.0","3,314,081.0","18,255,253.0","13,731,428.0","433,476.0","44,183.0","18,930.0","1,476,654.0","37,224,000.0","15,556.0","35,393.0"
26,"10,029.0",Manhattan,Upper East Side / East Harlem,"111,917.0","3,591,936.0","17,265,845.0","12,794,749.0","975,600.0","378,725.0","216,324.0","10,062,118.0","911,544.0","298,939.0","543,596.0"
27,"10,030.0",Manhattan,Striver's Row,"774,088.0","4,628,963.0","3,004,654.0","4,303,357.0","110,686.0",0.0,0.0,"1,341,992.0","1,115,583.0","38,230.0","139,435.0"
28,"10,031.0",Manhattan,Hamilton Heights / Sugar Hill,"1,242,521.0","6,383,009.0","9,886,916.0","5,265,342.0","453,007.0","222,311.0","26,017.0","3,936,851.0","1,316,001.0","19,039.0","90,629.0"
29,"10,032.0",Manhattan,Washington Heights,"345,169.0","5,406,723.0","9,011,038.0","7,130,683.0","490,901.0","24,714.0","24,170.0","11,198,145.0","3,113,476.0","288,755.0","88,779.0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,"11,385.0",Queens,Ridgewood / Glendale,"16,121,004.0","16,644,765.0","695,956.0","5,810,130.0","2,652,354.0","6,031,941.0","267,622.0","2,863,481.0","36,310,584.0","781,054.0","299,951.0"
182,"11,411.0",Queens,Cambria Heights,"6,888,611.0","88,292.0",0.0,"70,619.0","299,776.0",0.0,"6,653.0","682,868.0",0.0,"22,486.0","2,268.0"
183,"11,412.0",Queens,St. Albins / Hollis,"12,250,978.0","340,837.0","154,824.0","736,562.0","344,338.0","527,030.0","84,582.0","1,006,467.0","96,908.0","106,777.0","80,624.0"
184,"11,413.0",Queens,Brookville / Laurelton,"13,998,504.0","353,908.0",0.0,"182,737.0","752,809.0","1,949,320.0","62,229.0","1,174,929.0","18,930,162.0","175,416.0","312,460.0"
185,"11,414.0",Queens,Howard Beach,"9,751,254.0","2,245,988.0","2,090,642.0","289,219.0","892,523.0","1,400.0","3,006.0","504,989.0","13,647,154.0","86,799.0","374,554.0"
186,"11,415.0",Queens,Kew Gardens,"1,782,564.0","1,322,692.0","5,196,781.0","1,759,878.0","994,338.0","34,487.0","4,705.0","780,491.0","1,964,304.0","152,431.0","20,954.0"
187,"11,416.0",Queens,Woodhaven / Ozone Park,"4,808,177.0","1,499,972.0",0.0,"883,024.0","576,513.0","466,978.0","141,183.0","701,896.0","148,040.0","198,853.0","62,093.0"
188,"11,417.0",Queens,Ozone Park,"7,554,870.0","1,579,158.0",0.0,"733,693.0","568,005.0","468,406.0","80,598.0","1,244,651.0","1,457,103.0","244,763.0","144,804.0"
189,"11,418.0",Queens,Richmond Hill,"6,989,644.0","2,473,063.0","1,892,226.0","1,718,639.0","1,267,287.0","1,583,916.0","75,974.0","1,968,887.0","3,032.0","236,430.0","103,666.0"
190,"11,419.0",Queens,South Richmond Hill,"9,880,447.0","1,641,139.0","46,760.0","1,477,640.0","686,233.0","160,051.0","49,411.0","626,089.0","236,752.0","111,407.0","163,050.0"
191,"11,420.0",Queens,South Ozone Park,"12,498,809.0","651,728.0",0.0,"684,550.0","511,211.0","53,846.0","76,802.0","1,159,866.0","7,907,614.0","214,065.0","1,256,564.0"
192,"11,421.0",Queens,Woodhaven,"8,803,973.0","2,132,043.0","1,243,736.0","1,273,895.0","296,284.0","82,028.0","22,221.0","455,308.0","102,834.0","63,035.0","36,071.0"
193,"11,422.0",Queens,Rosedale,"9,791,071.0","912,028.0",0.0,"185,024.0","630,759.0","81,696.0","13,017.0","613,022.0","47,354.0","233,783.0","531,104.0"
194,"11,423.0",Queens,Hollis / Holliswood,"8,087,531.0","1,216,244.0","1,678,238.0","648,308.0","419,783.0","1,026,553.0","94,138.0","839,545.0","436,654.0","185,817.0","140,157.0"
195,"11,426.0",Queens,Floral Park / Bellerose Manor,"5,968,291.0","925,217.0","263,883.0","140,416.0","419,374.0","137,706.0","12,273.0","1,077,723.0","724,140.0","81,314.0","56,405.0"
196,"11,427.0",Queens,Hollis Hills,"6,473,320.0","2,439,732.0","437,087.0","156,580.0","194,145.0",0.0,"5,985.0","2,444,529.0","795,907.0","26,025.0","148,494.0"
197,"11,428.0",Queens,Queens Village,"5,666,382.0","413,322.0","200,737.0","619,449.0","486,854.0","123,195.0","54,336.0","781,900.0",0.0,"49,867.0","40,315.0"
198,"11,429.0",Queens,Queens Village,"7,973,836.0","250,522.0","98,116.0","286,292.0","295,565.0","452,708.0","320,215.0","569,612.0","103,294.0","187,443.0","101,508.0"
199,"11,430.0",Queens,JFK Airport,0.0,0.0,0.0,0.0,"145,538.0","42,400.0","17,280,787.0","29,000.0",0.0,"31,420.0",0.0
200,"11,432.0",Queens,Jamaica Hills,"9,994,580.0","1,929,693.0","7,378,154.0","4,107,566.0","2,917,690.0","11,270.0","16,398.0","10,079,934.0","443,352.0","539,236.0","271,236.0"
201,"11,433.0",Queens,Jamaica,"7,905,595.0","1,137,226.0","1,509,858.0","679,882.0","2,593,100.0","2,103,300.0","335,764.0","2,414,571.0","942,174.0","660,754.0","845,551.0"
202,"11,434.0",Queens,Springfield Gardens,"14,424,636.0","420,494.0","8,870,953.0","528,147.0","1,808,663.0","2,275,456.0","179,473.0","2,814,011.0","6,793,869.0","932,332.0","413,252.0"
203,"11,435.0",Queens,Briarwood,"7,263,755.0","3,191,866.0","6,810,531.0","2,655,828.0","2,468,101.0","952,046.0","171,412.0","2,453,715.0","922,482.0","572,402.0","379,229.0"
204,"11,436.0",Queens,South Jamaica,"5,577,045.0","76,479.0",0.0,"171,534.0","919,551.0","20,928.0","10,334.0","688,660.0","353,470.0","129,161.0","149,712.0"
205,"11,691.0",Queens,Far Rockaway / Edgemere,"9,979,445.0","2,379,913.0","9,220,076.0","1,378,914.0","904,570.0","387,791.0","141,782.0","3,118,445.0","2,873,213.0","487,635.0","3,892,996.0"
206,"11,692.0",Queens,Arverne,"4,017,419.0","536,551.0","3,390,311.0","312,001.0","139,526.0","82,475.0","43,445.0","632,900.0","12,789,406.0","217,033.0","4,776,234.0"
207,"11,693.0",Queens,Hammels,"2,007,137.0","497,075.0","3,057,924.0","161,033.0","191,077.0","297,651.0",0.0,"382,212.0","238,296,431.0","221,282.0","1,820,715.0"
208,"11,694.0",Queens,Seaside / Belle Harbor,"6,462,296.0","1,523,505.0","2,726,703.0","526,490.0","493,090.0","37,309.0","27,067.0","1,570,910.0","9,377,250.0","144,992.0","6,726,752.0"
209,"11,695.0",Queens,Fort Tilden,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"10,033,200.0",0.0,"202,400.0"
210,"11,697.0",Queens,Breezy Point,"2,411,300.0",0.0,0.0,0.0,0.0,0.0,0.0,"261,550.0","8,276,400.0",0.0,"255,000.0"

### Create Database file for Flask app

In [323]:
database_path = "../zipcodeDB.sqlite"

In [324]:
# Create Engine
# will create sqlite file if it doesn't already exist
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [325]:
# Push data to database
normalized_df.to_sql(name="zip_table", con=conn, if_exists ="replace", index=False)

# KNN Algorith for Backend

## Run Initial Query And Find Nearest Neighbor

In [326]:
# Specify target zipcode

#zipcode = 11101 #Long Island City, QNS
#zipcode = 11104 #Sunnyside, QNS
#zipcode = 11355 #Flushing, QNS
#zipcode = 11201 #Brooklyn Heights, BK
#zipcode = 10304 #Todt Hill, SI
#zipcode = 10016 #Murray Hill
#zipcode = 10022 # Midtown East
zipcode = 10034 # Inwood

In [327]:
database_path = "../zipcodeDB.sqlite"

# Create Engine
# will create sqlite file if it doesn't already exist
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

# Query records to test that it works
data_df = pd.read_sql("SELECT * FROM zip_table", conn)

In [328]:
data_df.head()

,zipcode,borocode,neighborhood,1 & 2 Family Residential,Multi-Family Walk-up,Multi-Family Elevator,Mixed Residential & Commercial,Commercial & Office,Industrial & Manufacturing,Transportation & Utility,Public Facilities & Institutions,Open Space & Outdoor Recreation,Parking,Vacant Land
0,"10,001.0",Manhattan,NOMAD / Chelsea,"33,606.0","592,289.0","8,350,224.0","13,875,477.0","53,005,101.0","4,445,633.0","1,182,594.0","10,895,555.0","502,515.0","507,583.0","1,006,828.0"
1,"10,002.0",Manhattan,Lower East Side,"51,117.0","1,938,379.0","16,618,352.0","16,356,822.0","3,200,967.0","1,182,700.0","590,077.0","4,618,645.0","4,397,528.0","185,666.0","513,831.0"
2,"10,003.0",Manhattan,NOHO / Union Square,"515,395.0","3,786,590.0","12,746,613.0","15,687,708.0","10,760,299.0","714,504.0","3,459.0","9,501,989.0","426,087.0","88,655.0","47,221.0"
3,"10,004.0",Manhattan,Bowling Green,0.0,0.0,"725,023.0","4,194,913.0","21,117,265.0","85,472.0","462,543.0","3,722,844.0","1,083,714.0","11,398.0","15,493.0"
4,"10,005.0",Manhattan,Wall Street,0.0,0.0,"2,480,663.0","5,683,041.0","16,515,733.0",0.0,"682,450.0","43,568.0",0.0,0.0,"2,877.0"

In [329]:
# Split DFs so that selected outer-borough zipcode can find nearest neighbor zip in Manhattan
manhattan_df = data_df[data_df.borocode == "Manhattan"]
outer_borough_df = data_df[data_df.borocode != "Manhattan"]

In [330]:
# Create dictObj
# This formatting is reuired for the D3 chart, and is (believe it or not) the cleanest solution I could come up with...
dictObj = {"manhattan": {"borough": "Manhattan",
                         "zipcode": None,
                         "neighborhood": None,
                         "values": {"0": {"color": "#FFDD80", 
                                          "GFA": None,
                                          "label": "1 & 2 Family Residential"},
                                    "1": {"color": "#ff9100",
                                          "GFA": None,
                                          "label": "Multi-Family Walk-up"},
                                    "2": {"color": "#bf360c",
                                          "GFA": None,
                                          "label": "Multi-Family Elevator"},
                                    "3": {"color": "#ff5252",
                                          "GFA": None,
                                          "label": "Mixed Residential & Commercial"},
                                    "4": {"color": "#c51162",
                                          "GFA": None,
                                          "label": "Commercial & Office"},
                                    "5": {"color": "#7b1fa2",
                                          "GFA": None,
                                          "label": "Industrial & Manufacturing"},
                                    "6": {"color": "#ba68c8",
                                          "GFA": None,
                                          "label": "Transportation & Utility"},
                                    "7": {"color": "#0d47a1",
                                          "GFA": None,
                                          "label": "Public Facilities & Institutions"},
                                    "8": {"color": "#00bfa5",
                                          "GFA": None,
                                          "label": "Open Space & Outdoor Recreation"},
                                    "9": {"color": "#607d8b",
                                          "GFA": None, 
                                          "label": "Parking"},
                                    "10": {"color": "#263238",
                                           "GFA": None,
                                           "label": "Vacant Land"}
                                   }
                        },
           "outer": {"borough": None,
                             "zipcode": None,
                             "neighborhood": None,
                             "values": {"0": {"color": "#FFDD80", 
                                              "GFA": None,
                                              "label": "1 & 2 Family Residential"},
                                        "1": {"color": "#ff9100",
                                              "GFA": None,
                                              "label": "Multi-Family Walk-up"},
                                        "2": {"color": "#bf360c",
                                              "GFA": None,
                                              "label": "Multi-Family Elevator"},
                                        "3": {"color": "#ff5252",
                                              "GFA": None,
                                              "label": "Mixed Residential & Commercial"},
                                        "4": {"color": "#c51162",
                                              "GFA": None,
                                              "label": "Commercial & Office"},
                                        "5": {"color": "#7b1fa2",
                                              "GFA": None,
                                              "label": "Industrial & Manufacturing"},
                                        "6": {"color": "#ba68c8",
                                              "GFA": None,
                                              "label": "Transportation & Utility"},
                                        "7": {"color": "#0d47a1",
                                              "GFA": None,
                                              "label": "Public Facilities & Institutions"},
                                        "8": {"color": "#00bfa5",
                                              "GFA": None,
                                              "label": "Open Space & Outdoor Recreation"},
                                        "9": {"color": "#607d8b",
                                              "GFA": None, 
                                              "label": "Parking"},
                                        "10": {"color": "#263238",
                                               "GFA": None,
                                               "label": "Vacant Land"}
                                   }
                        }
          }

In [331]:
target_borough = data_df.borocode[data_df.zipcode == zipcode].tolist()[0]
target_neighborhood = data_df.neighborhood[data_df.zipcode == zipcode].tolist()[0]

In [332]:
target_borough

'Manhattan'

In [333]:
target_neighborhood

'Inwood'

### Initial Query

In [334]:
if target_borough == 'Manhattan':
    # Pull out target zipcode from manhattan_df
    target_df = manhattan_df[manhattan_df.zipcode == zipcode]
    
    # Define zipcode, neighborhood
    dictObj["manhattan"]["zipcode"] = zipcode
    dictObj["manhattan"]["neighborhood"] = target_neighborhood
    
    for item in dictObj["manhattan"]["values"]:
        value_type = dictObj["manhattan"]["values"][item]["label"]
        dictObj["manhattan"]["values"][item]["GFA"] = target_df[value_type].tolist()[0]
    
    
else:
    # Pull out target zipcode from outer_borough_df
    target_df = outer_borough_df[outer_borough_df.zipcode == zipcode]
    
    # Define zipcode, neighborhood, and borough
    dictObj["outer"]["zipcode"] = int(zipcode)
    dictObj["outer"]["neighborhood"] = target_neighborhood
    dictObj["outer"]["borough"] = target_borough
    
    for item in dictObj["outer"]["values"]:
        value_type = dictObj["outer"]["values"][item]["label"]
        dictObj["outer"]["values"][item]["GFA"] = target_df[value_type].tolist()[0]

In [335]:
target_df

,zipcode,borocode,neighborhood,1 & 2 Family Residential,Multi-Family Walk-up,Multi-Family Elevator,Mixed Residential & Commercial,Commercial & Office,Industrial & Manufacturing,Transportation & Utility,Public Facilities & Institutions,Open Space & Outdoor Recreation,Parking,Vacant Land
31,"10,034.0",Manhattan,Inwood,"48,193.0","4,495,795.0","4,424,474.0","4,982,453.0","769,639.0","575,510.0","603,544.0","1,575,501.0","15,425,643.0","543,218.0","939,536.0"

In [336]:
# Either Manhattan or Outer Borough GFA should be empty
pprint(dictObj)

{'manhattan': {'borough': 'Manhattan',
               'neighborhood': 'Inwood',
               'values': {'0': {'GFA': 48193.0,
                                'color': '#FFDD80',
                                'label': '1 & 2 Family Residential'},
                          '1': {'GFA': 4495795.0,
                                'color': '#ff9100',
                                'label': 'Multi-Family Walk-up'},
                          '10': {'GFA': 939536.0,
                                 'color': '#263238',
                                 'label': 'Vacant Land'},
                          '2': {'GFA': 4424474.0,
                                'color': '#bf360c',
                                'label': 'Multi-Family Elevator'},
                          '3': {'GFA': 4982453.0,
                                'color': '#ff5252',
                                'label': 'Mixed Residential & Commercial'},
                          '4': {'GFA': 769639.0,
                                'color': '#c51162',
                                'label': 'Commercial & Office'},
                          '5': {'GFA': 575510.0,
                                'color': '#7b1fa2',
                                'label': 'Industrial & Manufacturing'},
                          '6': {'GFA': 603544.0,
                                'color': '#ba68c8',
                                'label': 'Transportation & Utility'},
                          '7': {'GFA': 1575501.0,
                                'color': '#0d47a1',
                                'label': 'Public Facilities & Institutions'},
                          '8': {'GFA': 15425643.0,
                                'color': '#00bfa5',
                                'label': 'Open Space & Outdoor Recreation'},
                          '9': {'GFA': 543218.0,
                                'color': '#607d8b',
                                'label': 'Parking'}},
               'zipcode': 10034},
 'outer': {'borough': None,
           'neighborhood': None,
           'values': {'0': {'GFA': None,
                            'color': '#FFDD80',
                            'label': '1 & 2 Family Residential'},
                      '1': {'GFA': None,
                            'color': '#ff9100',
                            'label': 'Multi-Family Walk-up'},
                      '10': {'GFA': None,
                             'color': '#263238',
                             'label': 'Vacant Land'},
                      '2': {'GFA': None,
                            'color': '#bf360c',
                            'label': 'Multi-Family Elevator'},
                      '3': {'GFA': None,
                            'color': '#ff5252',
                            'label': 'Mixed Residential & Commercial'},
                      '4': {'GFA': None,
                            'color': '#c51162',
                            'label': 'Commercial & Office'},
                      '5': {'GFA': None,
                            'color': '#7b1fa2',
                            'label': 'Industrial & Manufacturing'},
                      '6': {'GFA': None,
                            'color': '#ba68c8',
                            'label': 'Transportation & Utility'},
                      '7': {'GFA': None,
                            'color': '#0d47a1',
                            'label': 'Public Facilities & Institutions'},
                      '8': {'GFA': None,
                            'color': '#00bfa5',
                            'label': 'Open Space & Outdoor Recreation'},
                      '9': {'GFA': None,
                            'color': '#607d8b',
                            'label': 'Parking'}},
           'zipcode': None}}

### KNN

In [337]:
if target_borough == 'Manhattan': #i.e. the nearest neighbor will NOT be in Manhattan

    # Combine with Outerborough df to train model
    train_data = pd.concat([target_df, outer_borough_df])

    # Drop column with strings (b/c KNN needs numeric data) and reset index
    train_data.drop("borocode", axis=1, inplace=True)
    train_data.drop("neighborhood", axis=1, inplace=True)
    train_data.reset_index(drop=True, inplace=True)
    
    # Train Nearest Neighbors model
    nbrs = NearestNeighbors(n_neighbors=2, algorithm='ball_tree').fit(train_data)
    distances, indices = nbrs.kneighbors(train_data)

    # Find nearest neighbor
    nearest_neighbor_index = indices[0][1]
    result = train_data.iloc[nearest_neighbor_index, :]
    
    # Define zipcode, neighborhood, and borough
    result_zipcode = int(result["zipcode"])
    result_neighborhood = data_df[data_df.zipcode == result["zipcode"]].neighborhood.tolist()[0]
    result_borough = data_df[data_df.zipcode == result["zipcode"]].borocode.tolist()[0]
    dictObj["outer"]["zipcode"] = result_zipcode
    dictObj["outer"]["neighborhood"] = result_neighborhood
    dictObj["outer"]["borough"] = result_borough
    
    for item in dictObj["outer"]["values"]:
        value_type = dictObj["outer"]["values"][item]["label"]
        dictObj["outer"]["values"][item]["GFA"] = result[value_type]

        
else: # i.e. the nearest neighbor IS in Manhattan

    # Combine with Manhattan df to train model
    train_data = pd.concat([target_df, manhattan_df])
    
    # Drop column with strings and reset index
    train_data.drop("borocode", axis=1, inplace=True)
    train_data.drop("neighborhood", axis=1, inplace=True)
    train_data.reset_index(drop=True, inplace=True)
    
    # Train Nearest Neighbors model
    nbrs = NearestNeighbors(n_neighbors=2, algorithm='ball_tree').fit(train_data)
    distances, indices = nbrs.kneighbors(train_data)

    # Find nearest neighbor
    nearest_neighbor_index = indices[0][1]
    result = train_data.iloc[nearest_neighbor_index, :]
    
    # Define zipcode, neighborhood and borough
    result_zipcode = int(result["zipcode"])
    result_neighborhood = data_df[data_df.zipcode == result["zipcode"]].neighborhood.tolist()[0]
    result_borough = data_df[data_df.zipcode == result["zipcode"]].borocode.tolist()[0]
    dictObj["manhattan"]["zipcode"] = result_zipcode
    dictObj["manhattan"]["neighborhood"] = result_neighborhood
    dictObj["manhattan"]["borough"] = result_borough
    
    for item in dictObj["manhattan"]["values"]:
        value_type = dictObj["manhattan"]["values"][item]["label"]
        dictObj["manhattan"]["values"][item]["GFA"] = result[value_type]

In [338]:
pprint(dictObj)

{'manhattan': {'borough': 'Manhattan',
               'neighborhood': 'Inwood',
               'values': {'0': {'GFA': 48193.0,
                                'color': '#FFDD80',
                                'label': '1 & 2 Family Residential'},
                          '1': {'GFA': 4495795.0,
                                'color': '#ff9100',
                                'label': 'Multi-Family Walk-up'},
                          '10': {'GFA': 939536.0,
                                 'color': '#263238',
                                 'label': 'Vacant Land'},
                          '2': {'GFA': 4424474.0,
                                'color': '#bf360c',
                                'label': 'Multi-Family Elevator'},
                          '3': {'GFA': 4982453.0,
                                'color': '#ff5252',
                                'label': 'Mixed Residential & Commercial'},
                          '4': {'GFA': 769639.0,
                                'color': '#c51162',
                                'label': 'Commercial & Office'},
                          '5': {'GFA': 575510.0,
                                'color': '#7b1fa2',
                                'label': 'Industrial & Manufacturing'},
                          '6': {'GFA': 603544.0,
                                'color': '#ba68c8',
                                'label': 'Transportation & Utility'},
                          '7': {'GFA': 1575501.0,
                                'color': '#0d47a1',
                                'label': 'Public Facilities & Institutions'},
                          '8': {'GFA': 15425643.0,
                                'color': '#00bfa5',
                                'label': 'Open Space & Outdoor Recreation'},
                          '9': {'GFA': 543218.0,
                                'color': '#607d8b',
                                'label': 'Parking'}},
               'zipcode': 10034},
 'outer': {'borough': 'Bronx',
           'neighborhood': 'West Farms / Van Nest',
           'values': {'0': {'GFA': 2401704.0,
                            'color': '#FFDD80',
                            'label': '1 & 2 Family Residential'},
                      '1': {'GFA': 6770205.0,
                            'color': '#ff9100',
                            'label': 'Multi-Family Walk-up'},
                      '10': {'GFA': 511005.0,
                             'color': '#263238',
                             'label': 'Vacant Land'},
                      '2': {'GFA': 7465385.0,
                            'color': '#bf360c',
                            'label': 'Multi-Family Elevator'},
                      '3': {'GFA': 6485640.0,
                            'color': '#ff5252',
                            'label': 'Mixed Residential & Commercial'},
                      '4': {'GFA': 851695.0,
                            'color': '#c51162',
                            'label': 'Commercial & Office'},
                      '5': {'GFA': 982412.0,
                            'color': '#7b1fa2',
                            'label': 'Industrial & Manufacturing'},
                      '6': {'GFA': 208053.0,
                            'color': '#ba68c8',
                            'label': 'Transportation & Utility'},
                      '7': {'GFA': 2496300.0,
                            'color': '#0d47a1',
                            'label': 'Public Facilities & Institutions'},
                      '8': {'GFA': 18797246.0,
                            'color': '#00bfa5',
                            'label': 'Open Space & Outdoor Recreation'},
                      '9': {'GFA': 518038.0,
                            'color': '#607d8b',
                            'label': 'Parking'}},
           'zipcode': 10460}}